body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 400px;
    height: 300px;
}

#urlBox, #logs {
    overflow: auto; 
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
}

#logs{
    display: none;
}